# Byte-compiled / optimized / DLL files
*.py[cod]

# dart
build/app/outputs/apk/app.apk
.vscode/launch.json
.vscode/settings.json
build/app/outputs/flutter-apk/app-debug.apk
android/.gradle/5.6.2/executionHistory/executionHistory.lock
.dart_tool/flutter_build/fd4a68447c830c99f1295ed7c428abbd/app.dill
.dart_tool/flutter_build/6434b3452ac97609d664b348327e56d4/kernel_snapshot.stamp
.dart_tool/flutter_build/6434b3452ac97609d664b348327e56d4/kernel_snapshot.d
.dart_tool/flutter_build/6434b3452ac97609d664b348327e56d4/debug_android_application.stamp
bash.exe.stackdump
.dart_tool/flutter_build/6434b3452ac97609d664b348327e56d4/.filecache
.dart_tool/flutter_build/6434b3452ac97609d664b348327e56d4/app.dill
.dart_tool/flutter_build/6434b3452ac97609d664b348327e56d4/flutter_assets.d
.dart_tool/flutter_build/fd4a68447c830c99f1295ed7c428abbd/.filecache
android/.gradle/5.6.2/executionHistory/executionHistory.bin

#flask
backend/server/venv/